<div class="sec background">
    <section>
        <div class="card my-card">
            <div class="card-body">
              <p>Khush Amdeed Tehreem baji (Or aapa? Still haven't decided what to call you :P). Achan tau scene kuch aisa hai ke kafi sharmindgi ki baat hai meray liye ke menay mubarakbaad
                nahin di apko proper. Mujhe pata chala ke apnay shikayat ki thee :P tau this is me trying to make it up to you :D. Also I'll have you know wo cheap card bhejnay ka idea Turba 
                ka tha, mein itna ziada paindu nahin hun haha (thora sa hun! :P). Ab ye page khatam hogaya hai...
              </p>
            </div>
          </div>
    </section>
</div>
<div class="sec background">
  <section>
      <div class="card my-card">
          <div class="card-body">
            <p>
              
            </p>
          </div>
        </div>
  </section>
</div>
<div>
    <section>
        <ngb-carousel>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../assets/1.jpg" alt="Angular Carousel 1">
              </div>
              <div class="carousel-caption">
                <h3>Title Goes Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../assets/2.jpg" alt="Angular Carousel 2">
              </div>
              <div class="carousel-caption">
                <h3>Title Goes Here</h3>
                <p>Consectetur tortor volutpat pretium.</p>
              </div>
            </ng-template>
        </ngb-carousel>
    </section>
</div>
<div class="sec">
    <section>
        <h1>Hello World</h1>
    </section>
</div>