<div class="sec background">
    <section>
        <div class="card my-card-content">
            <div class="card-body something">
              <p>Khush Amdeed Tehreem baji (Or aapa? Still haven't decided what to call you :P). Achan tau scene kuch aisa hai ke kafi sharmindgi ki baat hai meray liye ke menay mubarakbaad
                nahin di apko proper. Mujhe pata chala ke apnay shikayat ki thee :P tau this is me trying to make it up to you :D. Also I'll have you know wo cheap card bhejnay ka idea Turba 
                ka tha, mein itna ziada paindu nahin hun haha (thora sa hun! :P). 
              </p>
            </div>
          </div>
    </section>
</div>
<div class="sec background">
  <section>
      <div class="card my-card-congrats">
          <div class="card-body something-else">
            <p>
              CONGRATULATIONS!!!!<br>
              Tehreem baji and Nabeel Bhai.
            </p>
          </div>
        </div>
  </section>
</div>
<div>
    <section>
        <ngb-carousel>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../assets/1.jpg" alt="Angular Carousel 1">
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../assets/2.jpg" alt="Angular Carousel 2">
              </div>
            </ng-template>
        </ngb-carousel>
    </section>
</div>